* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

h1 {
    display: inline-block;
    background-color: #F40000;
    color: #f6f8fc;
    box-shadow: 2px 2px 2px 1px black;
    padding: 1rem;
    border-radius: 50px;
}

h1:hover {
    background-color: black;
    color: #F40000;
    box-shadow: -2px -2px -2px -1px #fff;
    transition: .8s ease;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}



